* {
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    border-radius: 1%;
    margin-top: 30px;
    padding: 30px;
    padding-top: 150px;
    background-color: rgb(248, 248, 255);
    margin-left: 21%;
    text-align: center;
    width: 55%;
    height:60vh
}

#button {
    border: none;
    margin-top: 60px;
    color: ghostwhite;
    background-color: #009879;
    padding: 13px;
    border-radius: 3px;
    font-weight: bold;
}

#button:hover {
    background-color: #02ac8a;
}

label {
    color: ghostwhite;
    padding: 7px;
    background-color:  #02ac8a;
    border-radius: 3px;
}

#title {
    color: #009879;
    text-decoration: none;
    margin-left: 46%;
}

input, textarea {
    border: 2px solid #02ac8a;
}