* {
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

.question-table {
    min-width: 1300px;
    max-width: 1300px;
    border-collapse: collapse;
    margin: 25px;
    margin-left: 16%;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.question-table thead th {
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

.question-table th, td {
    padding: 12px 15px;
}

.question-table tbody tr {
    border-bottom: 1px solid gray;
    max-width: 800px;
}

.question-table tbody tr td {
    min-width: 2px;
    word-break: break-word;
}

.question-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.question-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.question-table tbody tr:hover {
    color: #009879;
    background-color: rgb(214, 214, 214);
}

.delete-question {
    width: 120px;
    border: none;
    margin-left: 77%;
    color: ghostwhite;
    background-color: #009879;
    padding: 13px;
    border-radius: 3px;
    font-weight: bold;
}

button {
        border: none;
        color: ghostwhite;
        background-color: #009879;
        padding: 13px;
        border-radius: 3px;
        font-weight: bold;
}

.title {
    margin-bottom: 80px;
    background-color: rgb(228, 228, 228);
    margin-top: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title a {
    text-decoration: none;
    margin-left: 41%;
    color: #009879;
    font-size: 240%;
}



.handling-button-wrapper {
    margin-left: 16%;
}

.handling-button {
    margin-left: 1%;
    text-decoration: none;
    border: none;
    color: ghostwhite;
    background-color: #009879;
    padding: 13px;
    border-radius: 3px;
    font-weight: bold;
    width: 150px;
}

#answer-table, #answer-table tr td, th {
    text-align: center;
    margin-top: 70px;
    margin-left: 350px;
    padding: 10px;
    border-collapse: collapse;
    border: 2px solid #009879;;
}

#answer-table {
    margin-left: 625px;
}

body{
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-top: 0px;
}