<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='list.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Ask-Mate</title>
</head>
<body>
    <h1><a href="/" id="title">Ask Mate</a></h1>
    <div class=wrapper>

        <div class="sorters">
            <form action="" method="GET">
                <select name="order">
                    <option value="ascending">Ascending</option>
                    <option value="descending">Descending</option>
                </select>

                <select name="by">
                    <option value="title">Title</option>
                    <option value="message">Message</option>
                    <option value="view_number">Views</option>
                    <option value="submission_time">Date</option>
                </select>

                <button type="submit">Sort</button>
            </form>
        </div>

        <table class="question-table"> 
            <thead>
                <th>Title</th>
                <th>Content</th>
                <th>Views</th>
                <th>Votes</th>
                <th>Image</th>
                <th>Date</th>
            </thead>
            <tbody>
                {% for elem in data %}
                    <tr>
                        <td><a href="/question/{{ elem['id'] }}">{{ elem['title'] }}</a></td>
                        <td class="message">{{ elem['message'] }}</td>
                        <td>{{ elem['view_number'] }}</td>
                        <td>{{ elem['vote_number'] }}</td>
                        <td>{{ elem['image'] }}</td>
                        <td>{{ elem['submission_time'] }}</td>
                    </tr>
                {%endfor %}
            </tbody>
        </table>
    </div>
    <br><br>
    <a id="add-question" href="/add-question">Add new question</a>
</body>
</html>