<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='post-answer.css') }}">
    <title>Document</title>
</head>
<body>
    <h1><a href="/" id="title">Ask Mate</a></h1>
    <div class="wrapper">
        <form action="/question/{{ question_id }}/new-answer" method="post" >
            <label for="answer">Answer</label>
            <br>
            <textarea name="answer" cols="90" rows="15"></textarea>
            <br>
            <button id="button" type="submit">Add answer</button>
        </form>
    </div>
</body>
</html>